body {
    max-width: 1280px;
    margin: auto;
}
header {
    width: 97%;
    margin: 10px 1.5% 40px 1.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-space {
    width: 30%;
    height: 50px;
}

#logo {
    width: 100%;
    height: 50px;
}

#searchbar {
    width: 20%;
    height: 30px;
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    background-color: #F2F2F2;
}

#search-icon {
    width: 15%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
}

.map-icon {
    color: #696969;
    font-size: small;
}

#search-space {
    width: 85%;
    height: 30px;
    display: flex;
    align-items: center;
}

input {
    height: 24px;
    width: 100%;
    border-style: none;
    background-color: #F2F2F2;
}

section {
    width: 97%;
    margin: auto;
}

#intro {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Roboto' , sans-serif;
}

#how-it-works {
    width: 40%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#how-it-works-top {
    width: 95%;
    height: 40px;
    font-size: 20px;
    font-weight: 900;
}

.hiw-item {
    position: relative;
    width: 95%;
    height: 60px;
    display: flex;
}

.hiw-number-space {
    position: absolute;
    z-index: 2;
    left: 0px;
    width: 5%;
    height: 60px;
    display: flex;
    align-items: center; 
}

.hiw-number {
    width:100%;
    height: 15px;
    display: flex;
    justify-content: center;
    background-color: #9356DC;
    border-radius: 20px;
    color: #ffffff;
    font-size: small;

}

.hiw-text {
    position: absolute;
    z-index: 1;
    left: 5px;
    width: 95%;
    height: 50px;
    background-color: #F2F2F2;
    box-shadow: 3px 3px 4px 0px #9f9d9d94;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.hiw-text-icon {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9f9d9d94;
}

#book-the-menu {
    width: 40%;
    height: 250px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#btm-top {
    width: 70%;
    height: 40px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 900;
}

#btm-text {
    width: 75%;
    height: 70px;
    display: flex;
    align-items: center;
    text-align: center;
}

#explore-button {
    height: 30px;
    border-radius: 20px;
    background: linear-gradient(to bottom right, #ff79da 0%, #9356dc 100%);
    box-shadow: 3px 3px 4px 0px #9f9d9d94;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    padding: 5px;
}

@media all and (min-width: 769px) and (max-width: 1100px) {
    #searchbar {
        width: 30%;
        height: 40px;
    }

    #search-icon {
        height: 40px;
    }

    input {
        height: 34px;
    }

    section {
        width: 100%;
    }

    #intro {
        flex-direction: column;
    }

    #how-it-works {
        width: 100%;
        height: 100px;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    #how-it-works-top {
        font-size: 30px;
    }

    .hiw-item {
        width: 30%;
    }

    .hiw-text {
        font-size: 19px;
    }

    #book-the-menu {
        width: 100%;
        height: 150px;
        flex-wrap: wrap;
    }

    #btm-top {
        font-size: 30px;
    }

    #btm-text {
        width: unset;
        height: 80px;
        font-size: 20px;
    }
}

@media all and (max-width: 768px) {
    body {
        margin: 0px;
    }
    header {
        width: 100%;
        height: 90px;
        margin: 10px 0px 0px 0px;
        flex-direction: column;
    }

    #logo-space {
        width: 100%;
        height: 50px;
        display: flex;
        box-shadow: 0px 3px 4px 0px #9f9d9d94;
        margin-bottom: 3px;
        justify-content: center;
        align-items: center;
    }

    #logo {
        width: 50%;
        height: 40px;
    }

    #searchbar {
        width: 100%;
        height: 40px;
    }

    #search-icon {
        width: 40%;
        height: 40px;
        justify-content: flex-end;
    }

    .map-icon {
        margin-right: 10px;
    }

    #search-space {
        width: 60%;
        height: 40px;
    }

    input {
        height: 34px;
    }

    section {
        width: 100%;
    }

    #intro {
        flex-direction: column-reverse;
    }

    #how-it-works {
        width: 100%;
    }

    #how-it-works-top {
        text-align: center;
    }

    .hiw-item {
        width: 97%;
    }

    #book-the-menu {
        width: 100%;
        height: 150px;
        flex-wrap: wrap;
    }
}