a {
    text-decoration: none;
    color: unset;
}

body {
    max-width: 1280px;
    margin: auto;
}

header {
    width: 97%;
    margin: 10px 0px 40px 0px;
    box-shadow: 0px 3px 4px 0px #9f9d9d94;
    padding: 10px 1.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-space {
    width: 30%;
    height: 50px;
}

#logo {
    width: 100%;
    height: 50px;
}

#searchbar {
    width: 20%;
    height: 30px;
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    background-color: #F2F2F2;
}

#search-icon {
    width: 15%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
}

.map-icon {
    color: #696969;
    font-size: small;
}

#search-space {
    width: 85%;
    height: 30px;
    display: flex;
    align-items: center;
}

input {
    height: 24px;
    width: 100%;
    border-style: none;
    background-color: #F2F2F2;
}

section {
    width: 97%;
    margin: auto;
}

#intro {
    width: 100%;
    margin: 60px 0px;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto' , sans-serif;
}

#how-it-works {
    width: 40%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#how-it-works-top {
    width: 95%;
    height: 40px;
    font-size: 30px;
    font-weight: 900;
}

.hiw-item {
    position: relative;
    width: 95%;
    height: 60px;
    display: flex;
    align-items: center;
    transition: all 400ms;
}


.hiw-number-space {
    position: absolute;
    z-index: 2;
    left: 0px;
    width: 20px;
    height: 60px;
    display: flex;
    align-items: center; 
}

.hiw-number {
    width:100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9356DC;
    border-radius: 20px;
    color: #ffffff;
    font-size: small;

}

.hiw-text {
    position: absolute;
    z-index: 1;
    left: 5px;
    width: 95%;
    height: 50px;
    background-color: #F2F2F2;
    box-shadow: 3px 3px 4px 0px #9f9d9d94;
    border-radius: 20px;
    display: flex;
    align-items: center;
    text-align: center;
}


.hiw-text:hover {
    background-color:#e8dcf7; 
}

.hiw-text:hover > .hiw-text-icon {
    color: #9356DC;
}

.hiw-text-icon {
    width: 20%;
    margin-inline-start: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9f9d9d94;
    transition: all 400ms;
}

#book-the-menu {
    width: 40%;
    height: 250px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#btm-top {
    width: 70%;
    height: 40px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 900;
}

#btm-text {
    width: 75%;
    height: 70px;
    display: flex;
    align-items: center;
    text-align: center;
}

#explore-button {
    height: 30px;
    border-radius: 20px;
    background: linear-gradient(to bottom right, #ff79da 0%, #9356dc 100%);
    box-shadow: 3px 3px 4px 0px #9f9d9d94;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    padding: 5px;
    transition: all 400ms;
}

#explore-button:hover {
    filter: brightness(115%);
    box-shadow: 3px 3px 4px 0px #69696994;
}

#restaurants {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Roboto' , sans-serif;
    margin-top: 20px;
}

#restaurant-top {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 900;
}

.rest-pic-and-title {
    width: 45%;
    height: 450px;
    display: flex;
    flex-direction: column;
    position: relative;
}

#new {
    position: absolute;
    z-index: 2;
    left: 70%;
    top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;
    width: 25%;
    height: 25px;
    background-color: #99E2D0;
    color: green;
    font-size: 15px;
    font-weight: bolder;
}

.rest-pic {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.rest-title {
    width: 100%;
    height: 60px;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 3px 3px 4px 0px #9f9d9d94;
    display: flex;
    justify-content: space-between;
}

.rest-title-list {
    list-style-type: none;
    margin: 0px;
}

.rest-title-head {
    margin: 5px 0px;
}

.rest-icon-space {
    width: 15%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.rest-heart {
    width: 40%;
}

.rest-icon-space .rest-heart path{
    fill: transparent;
    stroke-width: 18px;
    stroke: black;
    transform: scale(1);
}

.rest-icon-space .rest-heart:hover path{
    animation: heart-fill-animation 1s;
    animation-fill-mode: forwards;
}

@keyframes heart-fill-animation {
    0% {
        stroke-opacity: 1;
        stroke: #9356dc;
    }

    25% {
        stroke-opacity: 1;
        stroke: #9356dc;
        fill: #ff79da;
        fill-opacity: .25;
    }

    100% {
        stroke-opacity: 1;
        stroke: #9356dc;
        fill: #ff79da;
        fill-opacity: 1;
    }
}


footer {
    width: 100%;
    background-color: rgb(63, 63, 63);
    display: flex;
    flex-direction: column;
}

#footer-top {
    width: 100%;
    margin: 20px 0px;
    text-align: center;
    font-family: 'Shrikhand' , sans-serif;
    font-size: 18px;
    color: white;
}

#footer-list {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0px 40px 0px;
    padding-inline-start: 0px;
    list-style-type: none;
    font-size: 15px;
    font-family: 'Roboto' , sans-serif;
    color: white;
}

.footer-icon {
    margin-right: 10px;
}


@media all and (min-width: 769px) and (max-width: 1100px) {
    
    #searchbar {
        width: 30%;
        height: 40px;
    }

    #search-icon {
        height: 40px;
    }

    input {
        height: 34px;
    }

    section {
        width: 100%;
    }

    #intro {
        margin: 60px 0px;
        flex-direction: column-reverse;
        align-items: center;
    }

    #how-it-works {
        width: 100%;
        height: 100px;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    #how-it-works-top {
        margin-bottom: 10px;
        text-align: center;
        font-size: 30px;
    }

    .hiw-item {
        width: 30%;
    }

    .hiw-text {
        font-size: 19px;
    }

    #book-the-menu {
        width: 80%;
        height: 150px;
        flex-wrap: wrap;
        border-radius: 20px;
        margin-bottom: 60px;
    }

    #btm-top {
        font-size: 30px;
        width: 50%;
        margin-top: 15px;
    }

    #btm-text {
        width: 50%;
        height: 80px;
        font-size: 20px;
    }

    #explore-button {
        width: 30%;
        height: 40px;
        font-size: 20px;

    }

    #restaurants {
        justify-content: space-evenly;
    }

    #restaurant-top {
        margin-bottom: 10px;
        text-align: center;
    }
}

@media all and (max-width: 768px) {
    body {
        margin: 0px;
    }
    header {
        width: 100%;
        height: 90px;
        margin: 10px 0px 0px 0px;
        padding: unset;
        flex-direction: column;
    }

    #logo-space {
        z-index: 2;
        width: 100%;
        height: 50px;
        display: flex;
        box-shadow: 0px 3px 4px 0px #9f9d9d94;
        justify-content: center;
        align-items: center;
    }

    #logo {
        width: 50%;
        height: 40px;
    }

    #searchbar {
        width: 100%;
        height: 40px;
        background-color: #dddbdb;
        border: none;
    }

    #search-icon {
        width: 40%;
        height: 40px;
        background-color: #dddbdb;
        justify-content: flex-end;
    }

    .map-icon {
        margin-right: 10px;
    }

    #search-space {
        width: 60%;
        height: 40px;
        background-color: #dddbdb;
    }

    input {
        height: 34px;
        background-color: #dddbdb;
    }

    section {
        width: 100%;
    }

    #intro {
        flex-direction: column-reverse;
        align-items: center;
        margin: 0px 0px 60px 0px;
    }

    #how-it-works {
        width: 90%;
        height: unset;
    }

    #how-it-works-top {
        margin: 20px 0px;
    }

    .hiw-item {
        width: 100%;
        margin-bottom: 20px;
    }

    #book-the-menu {
        width: 100%;
        height: 150px;
        margin-bottom: 60px;
        padding: 40px 0px;
    }

    #restaurants {
        flex-direction: column;
        width: 100%;
        margin:auto;
        background-color: #F2F2F2;
        align-items: center;
    }

    #restaurant-top {
        width: 90%;
        margin: 20px 0px;
    }

    .rest-pic-and-title {
        width: 90%;
        height: 280px;
        margin-bottom: 40px;
    }

    .rest-pic {
        height: 220px;
    }

    .rest-title-list {
        padding-inline-start: 10px;
    }

    #footer-top {
        width: unset;
        text-align: left;
        padding-left: 40px;
        margin-top: 20px;
    }

    #footer-list {
        margin: 20px 0px;
        padding-inline-start: 40px;
        height: 150px;
        flex-direction: column;
        justify-content: space-evenly;
    }

    
}