body {
    max-width: 1280px;
    margin: auto;
}
header {
    width: 97%;
    margin: 0px 1.5% 40px 1.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 30%;
    height: 40px;
}

#searchbar {
    width: 30%;
    height: 30px;
    display: flex;
}

#search-icon {
    width: 20%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-space {
    width: 80%;
    height: 30px;
}